.active {
    color: white !important;
    background-color: #EA580C !important;
    border-color: #EA580C !important;
}

.active:hover {
    color: black !important;
    background-color: #f79966 !important;
}

.root-nav-btn {
    @apply text-xl text-orange-600 px-4 py-1 rounded-full duration-150 border hover:border-orange-500 hover:bg-orange-500 hover:text-white;
}

.root-nav-btn:hover {
    @apply border-orange-400;
}

@media screen and (max-width: 640px) {
    .active {
        color: #EA580C !important;
        background-color: transparent !important;
        @apply border-0;
    }

    .active:hover {
        color: #EA580C !important;
        background-color: transparent !important;
    }
}